* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.container{
    width: 100vw;
    height: 100vh;
}

/* nav */

.logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 80px;
}

.logo > a > img {
    height: 65px;
}

.menu {
    background-color: #B96BC6;
    width: 90vw;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
    height: 80px;
    color: white;
    position: sticky;
    right: 0;
    min-width: 1000px;
}

.menu > div {
    margin-left: 40px;
    margin-right: 40px;
}

nav {
    background-color: white;
    display: flex;
}

/* main */

main {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%;
}

.menutitle{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 30px;
    font-weight: bold;

    height: 10%;
    padding-top: 18px;
}

.content > div:nth-child(2){

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
}

#signNum {
    background-color: rgb(212, 211, 211);
}

.mainpart{
    display: flex;
}

.mainpart > div {
    display: flex;   
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.leftmenu {
    width: 16%;
}

.rightmenu {
    width: 16%;
}

#btnbox {
    color: white;
    background-color: #AC47FC;
    width: 140px;
    height: 60px;
    border: none; 
    margin-top: 30px; 
    font-size: 17px;
}

.content > div {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#underline {
    margin-left: 10px;
    width: 300px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
}

.signUpFind > div > a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 24px;
}